.body-container2 {
 position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(15, 16, 31, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
   
}.CommingSoon{
  font-size: 100px;
  font-weight: 400;
  color: white;
}

.headsecc{
    color:white;
    margin-left: 140px;
    margin-bottom: 80px;
}
.headsecc p{
   color: rgba(202, 202, 202, 0.8);
}
.headsecc h1{
    font-weight: 400;
}
.purple{
    font-weight: 400;
    color: #7c3aed;
}
.flexing{
    display: flex;
    gap :10px;
}

.cardint {
    margin-left: -10px;
  }
  .loaderint {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 35px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
  .loaderint p{
    color: white;
  }
  
  .wordsint {
    overflow: hidden;
    position: relative;
  }
  .wordsint::after {
    content: "";
    position: absolute;
    inset: 0;
   
    z-index: 20;
  }
  
  .wordint {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #7c3aed;
    animation: spin_4991 10s infinite;
  }
  
  @keyframes spin_4991 {
    10% {
      -webkit-transform: translateY(-102%);
      transform: translateY(-102%);
    }
  
    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    35% {
      -webkit-transform: translateY(-202%);
      transform: translateY(-202%);
    }
  
    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }
  
    60% {
      -webkit-transform: translateY(-302%);
      transform: translateY(-302%);
    }
  
    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
  
    85% {
      -webkit-transform: translateY(-402%);
      transform: translateY(-402%);
    }
  
    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }